.chatsHistory {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  .category {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: var(--space-xs);

    .chats {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);

      .chat {
        text-align: left;
        transition: 0.2s;
        border-radius: 4px;

        &.active,
        &:hover {
          background-color: #dddddd;
        }

        .message {
          padding: var(--space-sm);
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--primary-text-color);
          font-size: var(--space-sm);
          margin: 0;
        }
      }
    }
  }
}
