.wrapper {
  background-color: var(--tertiary-color);
  padding: var(--space-md);
  border-top: 1px solid var(--border-color);

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .messagesInputBox {
      overflow-y: hidden;
      width: 60%;
      min-width: 580px;
      box-sizing: border-box;
      background-color: #fff;
      display: flex;
      gap: var(--space-sm);
      padding: var(--space-sm);
      border: 1px solid var(--border-color);

      @media only screen and (max-width: 600px) {
        /* For mobile phones: */
        & {
          min-width: 0;
          width: 90%;
        }
      }

      .messageInput {
        all: unset;
        flex-grow: 1;
        overflow: hidden;
      }
    }
  }
}
